<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <button type="button" class="navbar-toggle pull-left animated flip">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href=show_<%= session[:user_role] %>>
      <span>Welcome!</span>
    </a>
    <!-- user dropdown starts -->
    <div class="btn-group pull-right">
      <%= link_to logout_path do%>
          <button type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-circle-arrow-right"></i>
            logout
          </button>
      <% end %>
    </div>
    <!-- user dropdown ends -->

    </ul>
  </div>
</div>
<!-- topbar ends -->
